@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans&family=Roboto+Mono&display=swap');
:root {
    --primary: #ffffff;
    --secondary: #faf0e6;
    --tertiary: #2D4739;
    --white: #fff;

  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(29, 31, 52);
  }
  
  .login-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    /* box-shadow: 0 0.5rem 1rem rgba(232, 227, 227, 0.3); */
  }
  
  .login-label {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--tertiary);
  }
  
  .login-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .login-button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(29, 31, 52);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover {
     background-color: #4e527b;
    ;
  }
  .login-error{
    color: rgb(221, 54, 54);
    border-radius: 10px;
  }