.status {
  position: relative;
}

button {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.mainn {
  position: fixed;
  top: -90px;
  left: 0;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup {
  background-color: white;
  padding: 80px;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-radius: 10px;
  max-width: 500px;
 
}

.popup-body {
  margin-top: -60px;
  float: left;
  background-color: white;
  margin-left: -70px;
}
.popup-body p {
  float: right;
  margin-top: -20px;
  margin-right: -330px;
  max-width: 600px;
  color: lightgray;

}

.popup-header {
  float: left;
  margin-top: -9px;
  margin-bottom: 3px;
}

.popup-header input {
  padding: 15px;
  border: 2px solid lightskyblue;
   box-shadow: light;
  margin-left: -50px;
  height: 10px;
  margin-top: -20px;
  width: 400px;
}

.listofstatus {
  margin-top: 10px;
  padding: -10px;
  float: left;
  color: black;
  margin-left: -25px;
  
}

.listofstatus ul {
  list-style-type: none;
   padding: -10px; 
  padding-top: 5px;
margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 5px; 
}

.listofstatus li {
    margin-bottom: 13px; 
    margin-top: 10px;
 align-items: flex-start; 
   width: fit-content;
 color: black;
  
}
.listofstatus li:hover {
  background-color:lightgrey;
  cursor: pointer;
}
.ppp {
  /* margin-bottom: 10px; */
  align-items: flex-start;
  margin-left: 3px;
  width: fit-content;
  float: right;
  color: lightslategray;
  
}

.btn {
  float: right;
  margin-right: -135px;
  margin-bottom: -100px;
 
}
.btn p {
  float: left;
  margin-left: -400px;
   
  color: black;
  
}
.DropDown {
  position: relative;
  display: inline-block;
}
.ll p {
  float: right;
  margin-left: 10px;
}

.menu {
  position: absolute;
  top: 29px;
  left: -70px;
  list-style-type: none;
  width: max-content;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.list {
   padding-left: 20px; 
   margin-bottom: 20px;
   justify-content: space-between;
 
}
.DropDown ul li:hover {
  cursor: pointer;
  background-color: lightgrey;
 
}

.DropDown .fa-angle-down {
  margin-left: 3px;
  cursor: pointer;
}
