@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.searchicon{
    color: #ffffff;
    margin-left: 100%;
    margin-top: 80%;
    height: 18px;
    width: 18px;
}
.header{
    display: flex;
    align-items: center;
   background-color: #1d1f34;
    padding-bottom: 4px;
}

.search {
    background-color: aliceblue;
    width: 220px;
    height: 32px;
    margin-top: -21%;
    margin-left: 5%;
    border-radius: 10px;
    border-color: #000000;
    padding-bottom: 4px;
    
  }

.backarrow{
    color: #ffffff;
    margin-left: 80%;
    margin-top: 120%;
    margin-right: 30%;
    height: 18px;
    width: 18px;

}

